build/
dist/
out/
node_modules/
.env
*.map
*.out.txt
*.bat

# Local development and debugging
.DS_Store
.scratch/
.vscode
**/.vscode/*
**/tsconfig.debug.json
!**/.vscode/launch.json
**/build.bat

